bg-svg($svg-sprite, $repeat = no-repeat)
    svg-fallback-sprite-image($svg-sprite)
    svg-sprite-position($svg-sprite)
    svg-sprite-width($svg-sprite)
    svg-sprite-height($svg-sprite)
    background-repeat $repeat